*.egg-info
*.esproj
*.o
*.py[co]
*.so
*.tmp_*
.*.sw[op]
.DS_Store
.project
.pydevproject
/*.egg
/.eggs
/.tox
/dist
/bin
/include
/lib
/local
test_project/media/
build
tags
pip-log.txt
pip-selfcheck.json
.coveralls.yml
.coverage
